{% extends '@!EasyAdmin/layout.html.twig' %}

{% block content %}

    <div class="jumbotron">
        <h1 class="display-4"> 
            Tableau de bord - Voyagez naturellement
        </h1>
    </div>

{% endblock %}